[submodule "ThirdParty/ShareKit"]
	path = ThirdParty/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
